@**
@inject HttpClient Http
**@

<PageTitle>Calculator</PageTitle>

<h1>Calculator</h1>

<hr />
<div>
    <input @bind="FirstNumber" type="number" />
    <p>+</p>
    <input @bind="SecondNumber" type="number" />
</div>
<hr />
<div>
    <button class="btn btn-primary" @onclick="CalculateResult">=</button>
    <p role="status">Result: @result</p>
</div>

@code {
    private int FirstNumber { get; set; }
    private int SecondNumber { get; set; }
    private static int result = 0;

    private async Task CalculateResult()
    {
        result = FirstNumber + SecondNumber;
        var calculation = new { Value = result };
        @**
            await Http.PostAsJsonAsync("api/Calculation", calculation);
        **@
    }
}
